
:root{

  --menuColor: #F5F5F5;
  --mainFontColor: #222121;
  --mainFont: 'Montserrat' ;
}


.flex{
  display: flex;
}

.t-left {
  text-align: left;
}

.t-center {
  text-align: center;
}

.t-right {
  text-align: right;
}

.content-1200{
  max-width: 1200px;
  margin: 0 auto;
}

.content-1000{
  max-width: 1000px;
  margin: 0 auto;
}

.overflow{
  overflow: scroll;
}

body {

}

.button {
  background-color: #0072FE;
  border-radius:7px;
  display:inline-block;
  cursor:pointer;
  color:white;
  text-transform: uppercase;
  font-family: var(--main-font);
  padding:12px 20px;
  text-decoration:none;
  font-size: 0.7em;
  font-weight: 600;
  border: none;
  @media (max-width: 600px){
    font-size: 0.6em;
  }
}

.button-second{
  background-color: #D01837;
  border-radius:7px;
  display:inline-block;
  cursor:pointer;
  color:white;
  text-transform: uppercase;
  font-family: var(--main-font);
  padding:12px 20px;
  text-decoration:none;
  font-size: 0.7em;
  font-weight: 600;
  border: none;
  @media (max-width: 600px){
    font-size: 0.6em;
  }
}

.button-logout{
  border-radius:7px;
  display:flex;
  cursor:pointer;
  text-transform: uppercase;
  font-family: var(--main-font);
  padding:12px 20px;
  text-decoration:none;
  font-size: 0.7em;
  font-weight: 600;
  border: none;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
  column-gap: 6px;
  align-items: center;
  margin: 0 auto;
  justify-content: center;

  img{
    width: 100%;
    max-width: 25px;
  }
  h6{
    font-weight: 600;
    font-size: 1.1em;
  }
}

//.button:active, .button-primary:active {
//  position:relative;
//  top:1px;
//}

.button a, .button-primary a{
  color: white;
}